*{
    margin: 0;
    padding: 0;
   }
  
   h1{
    color:brown;
    font-size: 96px;
    font-weight: 900;
    text-decoration:wavy;
    text-align: center;
   }
   p {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-style:normal;
    text-align: justify;
   }
   .bg {
    height: 500px;
    width: 100%;
    background-image: url(https://img.freepik.com/fotos-gratis/textura-da-superficie-da-parede_23-2148862488.jpg);
    background-size: cover;
    /* o formato cover ajusta da imagem dentro do espaço determinado sem deformar ela mas
   corta um pedaço, o formato contain faz a imagem aparecer sem corte mas deforma */
    background-repeat: no-repeat;
    /* vai garantir que a imagem não vai se repetir dentro do espaço determinado */
    background-position: center;
    background-attachment: fixed;
    /* esse comando faz a imagem ficar fixada e o texto ir passando por cima, não funciona com
   todo navegador */
   }